<div id='body' style='min-height:900px;'>
		<%= image_tag("img_2291.jpg", alt: "Home") %>

	<div id=about><h1>About Us</h1>
		<div id=info>
			<p>Midwest Diesel Service, located in Minneapolis, MN, has been serving the twin cities trucking industry for over 30 years. 
			We are family owned and operated and our mechanics have over 100 years of combined diesel experience. </p>
			<p>We are an authorized OEM Dealer for Caterpillar, Cummins, and Detroit engines and repairs as well as a dealer 
			for Crane Carrier Trucks and Landoll Trailers.</p>
			<p>Why you should take your truck to us:</p>
			<ul>
				<li>We build great relationships with our customers</li>
				<li>Knowledgeable and experienced staff</li>
				<li>Our mechanics are trained by OEM manufacturers</li>
				<li>We only sell the highest quality OEM parts</li>
				<li>We'll work with your budget</li>
				<li>In certain cases, financing can be available</li>
			</ul>
			
			<p>Give us a call at 763-780-8533 to setup your next truck service.</p>
			
			</div>
		</div>
	</div>