<div id='body'>
	
		<img id=jumbotron class='jumbotron' style='float: left' src='..\Images\img_2297.jpg' width='750px' height='470px'>
		<%= image_tag("IMG_2297.jpg", alt: "Parts", :id => 'jumbotron', :class => "jumbotron", :size => "750x470")%>
		<div id=about><h1>OEM Parts</h1>
			<div id=info>
				<p>We carry a large selection of OEM parts at excellent prices.  Our experienced staff will make sure you get the parts you need 
				for the best possible price.  Often we can source used parts to save you even more money.</p>
				<p>Here are just a few of the OEM certified brands of parts that we carry:</p>
				<ul>
					<li>Caterpillar</li>
					<li>Cummins</li>
					<li>Detroit</li>
					<li>Freightliner</li>
					<li>Western Star</li>
					<li>Landoll</li>
					<li>Crane Carrier</li>
					<li>And more!</li>
				</ul>
				<p>We sell everything from oil filters to overhaul kits.</p>
			</div>
		</div>
	</div>