body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-size: cover;
  background-color: rgb(255,255,255); 
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
  margin-bottom: -60px;
}
#body {
  padding: 10px;
  padding-bottom: 60px;
  min-height:900px;
}

#logo {
  opacity: 1;
  margin-top: 10px;
  height: 100px;
  width: 20%;
}

#top-logos {
  padding-bottom: 20px;
}

#header {
  opacity: 1;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

#shingle {
  padding-left: 80px;
  height: 100px;
  width: 50%;
}

#address {
  text-align: right;
  padding-bottom: 10px;
  font-size: 1.1em;
  margin-right: 1%;
  float: right;
}

nav {
  background-color: black;
  opacity:0.75;
  border-radius: 10px;
  
  font-size: 1.3em;
  
  
}

.nav-bar {
  display: table;
  
  margin-left: auto;
  margin-right: auto;
}

ul#horzontal-list {
  min-width: 1700px;
  list-style: none;
  padding-top: 20px;
  
}

.nav a:link  {
  text-decoration:none;
  color:white;
}
.nav a:visited {
  text-decoration: none;
  color:white;
}

ul#horizontal-list li {
  
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  
}

#jumbotron {
  margin-left: 30px;
  margin-top: 30px;
  border-style: solid;
  border-color: rgb(80,80,80);
  float: left;
  
  
  
}

#contactform {
  font-size: 1.2em;
  
  margin-left: 5%;
  padding-bottom: 100px;
}

#about {
  padding-left: 850px;
  margin-right: 50px;
}

#info {
  font-size: 1.3em;
  margin-right: 50px;
  padding-bottom: 30px;
}

.highlighted {
  margin-left: 30px;
  margin-top: 30px;
  border-color: white;
  border-style: solid;
}

#overhaulimg {
  
}

#warrantyacc {
  display: inline-block;
  margin-left: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: ridge;
  border-radius: 5px;
  border-color: rgb(250,250,250); 
  background-color: rgb(250,250,250);
  margin-bottom:60px;
  
  
}

.accordion {
  border-style: ridge;
  border-radius: 5px;
  border-color: maroon;
  background-color: rgb(254,254,254);
  width:360px;
  
}

li{
  padding-bottom: 2px;
  padding-top: 2px;
}

#OHli {
  padding-left: 5px;
}
.acccontent {
  
}

.TrailerSlideshow {
  padding: 0;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#trailerhead {
  padding-left: 850px;
  margin-right: 50px;
}

#trailerinfo {
  font-size: 1.3em;
  margin-right: 50px;
}

#trailerform {
  padding-left: 850px;
  
}

.servicelink {
  color: black;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: black;
  opacity: 0.75;
}

#footertext {
  color: white;
  float: left;
  display: inline;
  margin-left: 40px;
  
}

#facebook {
  float: right;
  display: inline;
  padding: 10px;
  padding-right: 50px;
}