<div id='footer'>
		<footer>
			<p id='footertext'>&copyCopyright 2016 Midwest Diesel Service Inc, All Rights Reserved.</p>
			<div id='facebook'>
			<a href='https://www.facebook.com/Midwest-Diesel-Service-858550757491313/'><%= image_tag("facebook.png", alt: "Midwest Diesel Facebook", :size => "40x40" ) %></a>
			</div>
		</footer>
		</div>